---
layout: default
gallery:
 - column-size: col-6
   aspect-ratio: square
   background_image: /images/sleep-co-4.jpg
 - column-size: col-6
   aspect-ratio: square
   background_image: /images/sleep-co-5.jpg
 - column-size: col-4
   aspect-ratio: portrait-tall
   background_image: /images/sleep-co-2.jpg
 - column-size: col-4
   aspect-ratio: portrait-tall
   background_image: /images/sleep-co-1.jpg
 - column-size: col-4
   aspect-ratio: portrait-tall
   background_image: /images/sleep-co-3.jpg
 - column-size: col-12
   aspect-ratio: landscape
   background_image: /images/sleep-co-8.jpg 
---

 <!---------------- Header image banner ---------------->
<section class="header-banner padded-md grid center tall-70 md-tall-40">
  <div class="col-12-middle">
      <h3 class="font-weight-extra-bold editable"> <span class="text-featured"> explore </span> our world
      </h3>
      <h1 class="font-weight-normal editable" data-aos="fade-up" data-aos-delay="300"> see how wonderful life can be. </h1>
  </div> 
</section>

<!---------------- Image gallery  ---------------->
<section class="padded-md">
  <h2 class="center uppercase text-featured"> Popup Gallery </h2>
  <div class="gallery grid" id="lightgallery">

    {% for item in page.gallery %}
    <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
      <div class="bg-image {{item.aspect-ratio}}" 
        style="background-image: url('{{item.background_image}}');">
      </div>
    </a> 
    {% endfor %}

  </div>

  <!-- Second pop-up gallery -->
  <div class="gallery grid-center" id="lightgallery-2">

    <a class="button button-gallery-2" href="/images/sleep-co-5.jpg" title="Cute cat"> View our work </a> 
    <a href="/images/sleep-co-6.jpg" title="Amazing sheets"></a> 
    <a href="/images/sleep-co-3.jpg" title="Yellow background"></a> 
    <a href="/images/sleep-co-2.jpg" title="Sleep good"></a> 
    <a href="/images/sleep-co-1.jpg" title="Crispy white sheets"></a> 
    <a href="/images/sleep-co-8.jpg" title="Sleeping bear"></a> 
    <a href="/images/sleep-co-4.jpg" title="Tired dog"></a> 

  </div>
</section>

<h2 class="center text-featured margin-b-0"> Standard Gallery </h2>
<section class="padded-md">
  <div class="gallery grid">

    {% for item in page.gallery %}
    <div class="{{item.column-size}}">
      <div class="bg-image {{item.aspect-ratio}}" 
        style="background-image: url('{{item.background_image}}');">
      </div>
    </div> 
    {% endfor %}

  </div>
</section> 
-->