---
layout: default
cards:
 - image: bg-cat
   small_image_class: ""
   heading: standard matress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt.
 - image: bg-bear
   small_image_class: sm-bg-bear
   heading: deluxe matress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt.
 - image: bg-pug
   small_image_class: sm-bg-pug
   heading: luxury matress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt.
---
    <!---------------- Header image banner ---------------->
    <section class="header-banner padded-md grid center tall-40">
        <div class="col-12-middle">
            <h3 class="font-weight-extra-bold editable"> <span class="text-featured"> addivtively </span> soft
            </h3>
            <h1 class="font-weight-normal editable"> you don't want to get out of bed. </h1>
        </div> 
    </section>

    <!---------------- Text grid ---------------->
    <section class="bg-featured text-dark padded-md grid sm-center">
    <div class="padded-1 col-12 center editable">
        <h2> our mattress <span class="text-white"> promise </span>
        </h2>
    </div>
    <div class="padded-1 col-3_sm-6_xs-12 md-padded editable">
        <h4> Little heading </h4>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic qui exercitationem natus in.
        </p>
    </div>
    <div class="padded-1 col-3_sm-6_xs-12 md-padded editable">
        <h4> Little heading </h4>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis non quas magnam, incidunt veniam.
        </p>
    </div>
    <div class="padded-1 col-3_sm-6_xs-12 md-padded editable">
        <h4> Little heading </h4>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, architecto, expedita tenetur.
        </p>
    </div>
    <div class="padded-1 col-3_sm-6_xs-12 md-padded editable">
        <h4> Little heading </h4>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error consequatur facilis. 
        </p>
    </div>
    </section>

    <!---------------- Card grid ---------------->
    <section class="padded-md grid-center">

        {% for item in page.cards %}    
        <div class="col-4_sm-12 padded-sm">
            <a href="/contact.html">
                <div class="card">
                    <div class="bg-image portrait {{ item.image }} {{ item.small_image_class }} {% if page.screen_size == 'small' %} {{ item.small_image_class }} {% endif %}">
                        <!--- background image --->
                    </div>
                    <div class="padded-1">
                        <h2> {{item.heading}} </h2>
                        <p> {{item.description}} </p>
                    </div>
                </div>
            </a> 
        </div>
        {% endfor %}

    </section>

    <!---------------- Banner ---------------->
    <section class="padded-md center bg-dark text-white grid">
        <div class="col-12-middle">
             <h3 class="text-lg editable">  
                 <span class="text-sm font-weight-normal"> spend over $500 and activate
                 </span> 
                 <br>
                 <span class="text-featured" data-aos="zoom-out-up" data-aos-duration="2000"> free
                </span> express shipping
              </h3>
         </div> 
    </section>

    <!---------------- Gallery section ---------------->
    <section class="grid">

        <!--- First column --->
        <div class="padded-md col-6_xs-12-middle">
            <h2 class="editable"> a catcy
                <span class="text-featured"> heading </span> 
            </h2>
            <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eveniet reprehenderit quos officia in at corrupti vitae enim aut.
            </p> 
            <p class="editable"> Architecto soluta velit quas, rerum itaque veritatis, facilis maxime nobis dicta? 
            </p>
        </div>
        <div class="bg-image bg-sheets col-6_xs-12 tall-40">
            <!--- background image --->
        </div>

        <!--- Second column --->
        <div class="bg-image bg-cat col-6 hide-xs tall-40">
            <!--- background image --->
        </div>
        <div class="padded-md col-6-middle hide-xs editable">
            <h2>
                <span class="text-featured"> someting </span>
                else
            </h2>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, laudantium, dicta minus enim atque vitae maxime quidem numquam aliquid, officiis eum. Sit cum nihil inventore esse laboriosam corrupti voluptas officiis. 
            </p>
        </div>

        <!--- Third column --->
        <div class="padded-md col-6_xs-12-middle">
            <h2 class="editable"> 
                <span class="text-featured"> another </span> heading
            </h2>
            <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eveniet reprehenderit quos officia in at corrupti vitae enim aut.
            </p> 
            <p class="editable"> Architecto soluta velit quas, rerum itaque veritatis, facilis maxime nobis dicta? 
            </p>
        </div>
        <div class="bg-image bg-bigbed col-6_xs-12 tall-40">
            <!--- background image --->
        </div>

    </section>