/*
Colors:
Yellow: #FFBE00;
Navy: #192B37;
*/

/*---------------- CSS reset ----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------- Temporarely styles ----------------*/
/* * {
    padding:0.5rem;
    border: 2px solid aliceblue;
} */

/*---------------- Universal styles ----------------*/
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
    border: none;
}

a:hover {
    color: #FFBE00;
}

/*---------------- Utility styles ----------------*/
.padded-sm              { padding: 2.5%;                     }
.padded-md              { padding: 5%;                       }
.padded-lg              { padding: 10%;                      }
.padded-05              { padding: 0.5rem;                   }

.padded-1               { padding: 1rem;                     }
.padded-2               { padding: 2rem;                     }

.padded-t               { padding-top: 5%;                   }
.padded-t-1             { padding-top: 1rem;                 }
.padded-t-2             { padding-top: 2rem;                 }

.padded-b               { padding-bottom: 5%;                }
.padded-b-0             { padding-bottom: 0;                 }
.padded-b-1             { padding-bottom: 1rem;              }
.padded-b-2             { padding-bottom: 2rem;              }

.padded-l               { padding-left: 5%;                  }
.padded-r               { padding-right: 5%;                 }
.padded-l-0             { padding-left: 0;                   }
.padded-r-0             { padding-right: 0;                  }

.padded-0               { padding: 0;                        }

.margin-t               { margin-top: 5%;                    }
.margin-b               { margin-bottom: 5%;                 }
.margin-l               { margin-left: 5%;                   }
.margin-r               { margin-right: 5%;                  }

.margin-t-1             { margin-top: 1rem;                  }
.margin-b-1             { margin-bottom: 1rem;               }
.margin-l-1             { margin-left: 1rem;                 }
.margin-r-1             { margin-right: 1rem;                }

.margin-t-2             { margin-top: 2rem;                  }
.margin-b-2             { margin-bottom: 2rem;               }
.margin-l-2             { margin-left: 2rem;                 }
.margin-r-2             { margin-right: 2rem;                }

.margin-t-0             { margin-top: 0;                     }
.margin-b-0             { margin-bottom: 0;                  }
.margin-l-0             { margin-left: 0;                    }
.margin-r-0             { margin-right: 0;                   }

.margin-tb              { margin-top: 5%; margin-bottom: 5%; }
.margin-lr              { margin-left: 5%; margin-right: 5%; }

.tall-40                { min-height: 40vh;                  }
.tall-50                { min-height: 50vh;                  }
.tall-60                { min-height: 60vh;                  }
.tall-70                { min-height: 70vh;                  }
.tall-80                { min-height: 80vh;                  }
.tall-90                { min-height: 90vh;                  }
.tall-100               { min-height: 100vh;                 }

.bg-dark                { background-color:#192B37;        }
.bg-featured            { background-color:#FFBE00;        }
.bg-lightblue           { background-color:#E7EEF4;        }

.text-light             { color: white;                    }
.text-white             { color: white;                    }
.text-featured          { color: #FFBE00;                  }
.text-dark              { color: #192B37;                  }

.text-sm                { font-size: 1.5rem;                 }
.text-md                { font-size: 2rem;                   }
.text-lg                { font-size: 4.5rem;                 }
.text-xl                { font-size: 6rem;                   }
.text-xxl               { font-size: 8.5rem;                 }

.text-bold              { font-weight: bold;                 }
.text-tight             { line-height: 0.8;                  }

.left                   { text-align: left;                  }
.center                 { text-align: center;                }
.right                  { text-align: right;                 }

.uppercase              { text-transform: uppercase;         }

.font-weight-light      { font-weight: 200;                  }
.font-weight-normal     { font-weight: normal;               }
.font-weight-extra-bold { font-weight: 800;                  }

/*---------------- Typography styles ----------------*/
body {
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

h2 { font-size: 2.5rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }

p {
 font-weight: 200;
 line-height: 1.5;
 margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.subtitle { 
    font-size: 1.2rem; 
    color: rgb(120,120,125);
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 1;
}

/*---------------- Header and footer styles ----------------*/
.header-banner {
    background-image: url('/images/sleep-co-1.jpg');
    background-size: cover;
    background-position: center;
}

.header-banner h3 {
    font-size: 5.5rem;
    line-height: 1;
}

header a:hover {
    color: ;
}

.logo  { color: #FFBE00; }

footer a {
    margin: 0.5rem;
    font-size: 2rem; 
}

footer a:hover {
    color: #406F8E;
}

.copyright { color: #406F8E; }

/*---------------- Hamburger menu styles ----------------*/
/*-- This is style for the menu --*/
.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20;
    right: 0;
    color: #534416;
    opacity: 0.7;
    padding: 15%;
}

/*-- This is the links in the menu --*/
.mobile-menu a {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/*-- This is when you hovering the links in the menu --*/
.mobile-menu a:hover {
    color: #192B37;
}

/*-- This is the hamburger icon --*/
.hamburger-button {
    position: relative;
    z-index: 2;
    color: #FFBE00;
    cursor: pointer;
    margin-top: -1.8rem;
    right: 2rem;
    top: 1.1rem;
  }

/*-- This is the hamburger icon (to get the style for just this icon and not all of the site) --*/
.hamburger-button i {
    font-size: 2rem;
}

/*-- This is when you press the hamburger icon and it's active --*/
.hamburger-button.active {
    color: #534416;;
}

/*---------------- Background images ----------------*/
.bg-image {
    background-image: url('/images/sleep-co-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(240,240,240);
    background-position: center;
    /* min-height: 10rem; */
}

.bg-bed { background-image: url('/images/sleep-co-2.jpg'); }

.bg-pug { 
    background-image: url('/images/sleep-co-4.jpg'); 
    background-position: 50% 30%;
}

.bg-pillow { 
    background-image: url('/images/sleep-co-3.jpg');
    background-position: 50% 57%;
}

.bg-bear { 
    background-image: url('/images/sleep-co-8.jpg');
    background-position: 50% 100%; 
}

.bg-sheets { background-image: url('/images/sleep-co-6.jpg'); }

.bg-cat { background-image: url('/images/sleep-co-5.jpg'); }

.bg-bigbed { 
    background-image: url('/images/sleep-co-7.jpg'); 
    background-position: 50% 60%; 
}

/* Aspect ratio */
.portrait-tall  { padding-bottom: 175%;              }
.portrait       { padding-bottom: 125%;              }
.square         { padding-bottom: 100%;              }
.landscape      { padding-bottom: 66%;               }
.landscape-wide { padding-bottom: 56%;               }

/* Background position */
.bg-pos-t       { background-position: top;          }
.bg-pos-b       { background-position: bottom;       }
.bg-pos-l       { background-position: left;         }
.bg-pos-r       { background-position: right;        }

.bg-pos-t-l     { background-position: left top;     }
.bg-pos-b-r     { background-position: right bottom; }

/*---------------- Gallery image styles ----------------*/
.gallery [class*="col-"] {
    padding: 0.5%;
}

/* Background of gallery when active */
.lg-backdrop {
background-color: rgb(60,60,60);
}

.lg-backdrop.in {
    opacity: 0.8;
}

/* This is for the text under the images, on the second popup gallery */
.lg-sub-html {
    background-color: black;
}
/*---------------- Card styles ----------------*/
.card { 
    border: 2px solid #FFBE00;  
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/*---------------- Font awesome icons styles ----------------*/
.fa-solid {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

/*---------------- Button and form styles ----------------*/
.button {
    padding: 0.5rem 5rem;
}

.button:hover {
    background-color: #E7EEF4;  
    border: 2px solid #192B37;
    color: #192B37;
}

form input, 
form textarea {
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid #FFBE00; 
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  outline: none;
  border: 2px solid white; 
}

form button {
  background-color: #FFBE00; 
  color: white;
  border: 2px solid #FFBE00;
  padding: 0.5rem 2rem;
  letter-spacing: 0.05em;
  margin: 0.5rem 0;
  display: block;
  font-weight: bold;
  appearance: none;
}

form button:hover {
    background-color: white;
    color: #FFBE00;
    border: 2px solid #FFBE00;
}

/*---------------- General CSS responsive styles (apply everywhere unless overridden) ----------------*/
.show-xs,
.show-sm,
.show-md,
.mobile-menu {
    display: none;
}

/*---------------- Media query ----------------*/
/* MD  -   max-width in pixels approximately 1024x */
/* styles added here will apply at devices smaller than 1024px, or zoomed in equivalent */
@media(max-width: 64em) {

    .show-md        { display: block;              }
    .hide-md        { display: none;               }

    .md-padding-b-0 { padding-bottom: 0;           }

    .md-tall-70     { min-height: 70vh;            }

    .md-h2          { font-size: 1.8rem;           }

   .video-container[class*="col-"] {
    padding: 0;                  
}

}

/* SM  -   max-width in pixels approximately 768px */
/* styles added here will apply at devices smaller than 768px, or zoomed in equivalent */
@media(max-width: 48em) {

    .flex-flip-sm     { flex-direction: column-reverse; }

    .sm-h2            { font-size: 1.5rem;              }
    .show-sm          { display: block;                 }
    .hide-sm          { display: none;                  }

    .sm-center        { text-align: center;             }
    .sm-left          { text-align: left;               }
    .sm-right         { text-align: right;              }

    .sm-padded        { padding: 5%;                    }
    .sm-padded-1      { padding: 1rem;                  }
    .sm-padded-05     { padding: 0.5rem;                }

    .sm-padded-t-1    { padding-top: 1rem;              }

    .sm-padded-t-0    { padding-top: 0;                 }
    .sm-padded-b-0    { padding-bottom: 0;              }
    .sm-padded-l-0    { padding-left: 0;                }
    .sm-padded-r-0    { padding-right: 0;               }

    .sm-margin-b-0    { margin-bottom: 0;               }
    .sm-margin-b-1    { margin-bottom: 1rem;            }

    .sm-tall-40       { min-height: 40vh;               }

    h2                { font-size: 2rem;                }
    .logo h2          { font-size: 2rem;                }
    .header-banner h3 { font-size: 8vh;                 }

    .text-lg          { font-size: 3.5rem;              }
    .text-md          { font-size: 1.8rem;              }

    .fa-solid         { margin-top: 2rem;               }
    .portrait         { padding-bottom: 50%;            }

    .sm-bg-bear       { background-position: 50% 67%;   }
    .sm-bg-pug        { background-position: 50% 34%;   }

}

/* XS  -   max-width in pixels approximately 576px */
/* styles added here will apply at devices smaller than 576px, or zoomed in equivalent */
@media(max-width: 36em) {
    
    .show-xs          { display: block;               }
    .hide-xs          { display: none;                }

    h2                { font-size: 1.7rem;            }

    .header-banner h3 { font-size: 6vh;               }

    .navigation a     { font-size: 0.8rem;            }

    .text-lg          { font-size: 2.5rem;            }
    .text-md          { font-size: 1.5rem;            }

    .xs-tall-40       { min-height: 40vh;             }

    .xs-bg-pillow     { background-position: 50% 64%; }

    .button           { padding: 0.5rem 3rem;         }
}



