<!DOCTYPE html>
<html>

<!---------------- This is the head of our html where we add all the external resources and metadata ---------------->
<head>

    {% include head.html %}

</head>

<!---------------- This is the body, this is where all of your page content goes ---------------->
<body>

   <!---------------- Header banner ---------------->
   {% include header-banner.html %}
    
    <!---------------- This is where all the content for the pages goes ---------------->
    {{ content }}

    <!---------------- Footer ---------------->
    {% include site-footer.html %}

    <!---------------- This is all the scripts ---------------->
    {% include body-scripts.html %}

    
</body>
</html>